@import 'tailwindcss';

@plugin "@iconify/tailwind4";
@theme {
    --color-muted: oklch(0.7412 0 0);
}
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: 'books';
    default: true;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(92% 0 0);
    --color-base-300: oklch(84% 0 0);
    --color-base-content: oklch(0.4202 0 0);
    --color-primary: oklch(0.6964 0.1761 30.67);
    --color-primary-content: oklch(1 0 0);
    --color-secondary: oklch(0.6422 0.209 291.29);
    --color-secondary-content: oklch(1 0 0);
    --color-accent: oklch(0.6973 0.1642 359.66);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(27.807% 0.029 256.847);
    --color-neutral-content: oklch(85.561% 0.005 256.847);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(0.7009 0.184 144.89);
    --color-success-content: oklch(1 0 0);
    --color-warning: oklch(84.71% 0.199 83.87);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(71.76% 0.221 22.18);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.28125rem;
    --size-field: 0.25rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 0;
}
:root {
    font-family: 'Inter', sans-serif;
}
html {
    @apply w-full;
}
body {
    @apply relative flex w-full flex-col;
}
#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
        width: 100%;
        height: 100%;
    }
}
#root {
    @apply flex h-screen w-full flex-col overflow-auto;
}
* {
    @apply box-border;
}